@page "/"
@using CinemaApp.Shared
@using CinemaApp.Client.Components
@inject HttpClient Http

<PageTitle>Cinema Schedule</PageTitle>

<div class="container">
    <h1 class="my-4">Now Showing</h1>

    @if (movies == null)
    {
        <div class="alert alert-info">Loading movies...</div>
    }
    else
    {
        <div class="row">
            @foreach (var movie in movies)
            {
                <div class="col-md-4 col-sm-6 mb-4">
                    <MovieCard Movie="movie" />
                </div>
            }
        </div>
    }
</div>

@code {
    private List<MovieDto>? movies;

    protected override async Task OnInitializedAsync()
    {
        // Fetch the data from the API
        movies = await Http.GetFromJsonAsync<List<MovieDto>>("api/movies");
    }
}